.day-card-wrapper {
    background-color: rgb(136, 207, 204);
    width: 300px;
    border-radius: 10px;
    margin: 20px 20px;
    border: 3px solid rgb(101, 172, 168);
    box-shadow: 2px 2px 5px rgb(122, 122, 122);

    &.today {
        background-color: rgb(38, 207, 199);
        border: 3px solid rgb(31, 170, 163);
    }

    .day-image {
        max-width: 100%;
        border-radius: 10px 10px 0 0;
        height: 300px;
    }

    .content-wrapper {
        padding: 30px 10px;
    }

    .day-card-header {
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 2px solid rgb(21, 117, 112);
        margin: 0 50px;
    }

    .day-card-body {

    }

    .meal-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .meal-item-wrapper {
        padding-top: 30px;
    }

    .meal-header {
        font-size: 20px;
        font-weight: 500;
    }

    .meal-body {
        
    }

    .fav {
        font-weight: 500;
        color: gold;
        text-shadow: 1px 1px 3px darkgoldenrod;
    }
    
}


@media (prefers-color-scheme: dark) {
    .day-card-wrapper {
        background-color: rgb(60, 104, 101);
        border: 3px solid rgb(74, 129, 126);
        box-shadow: 2px 2px 5px rgb(27, 27, 27);
        color: rgb(216, 216, 216);

        &.today {
            background-color: rgb(14, 114, 109);
            border: 3px solid rgb(34, 182, 174);
            color: white;
        }

        .day-card-header {
            border-bottom: 2px solid rgb(32, 184, 176);
        }

        .fav {
            color: rgb(240, 204, 0);
            text-shadow: 1px 1px 3px darkgoldenrod;
        }
        
    }
}